<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
  
    <bean id="springHelloWorld"
        class="com.wen.springdemo_1.imp.SpringHelloWorld"></bean>
    <bean id="strutsHelloWorld"
        class="com.wen.springdemo_1.imp.StrutsHelloWorld"></bean>
  
  
    <bean id="helloWorldService"
        class="com.wen.springdemo_1.hello.HelloWorldService">
        <property name="helloworld" ref="strutsHelloWorld"/>
    </bean>
  
    <bean id="helloWorldService1"
        class="com.wen.springdemo_1.hello.HelloWorldService">
        <property name="helloworld" ref="springHelloWorld"/>
    </bean>  
</beans>